<% include partials/header %>

<h1>More Information:</h1>

<img src="<%= park.image%>" height="300" width="460" />
<h3><%= park.name %></h3>
<p><%= park.desc %></p>
<h4>Comments:</h4><br/>
<% park.comments.forEach(function(park){%>
<p><strong><%= park.author%>:</strong><%= park.text%></p>
<% })%>
<% include partials/footer %>
 <p>
 <a href="/parks" class="btn btn-primary" >Back</a> 
 <a href="/" class="btn btn-primary" >Home</a> 
</p>